 <div class="sticky mdl-shadow--2dp">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">
            <img src='http://i.imgur.com/hLSH4op.png'></img>
          </a>
        </h1>
      </li>
    </ul>
  </nav>
</div>

<br>

<header>
  <div>
    <div class="large-12">
      <img id="headerImg" src=<%= @type.image_url %>/>
    </div>
  </div>
</header>

<div class="row">
  <div class="large-12 column">
    <h2>Thanks for your payment, <strong><%= @user.first_name %></strong>!</h2>
    <h3> Class begins <%= @appointment.formated_date %></h3>
    <hr></hr>
  </div>
</div>

<br>
<br>

<div class="panel mdl-shadow--2dp large-12 medium-12">
  <div class="row">
    <div class="small-8 medium-6 large-6 column">
      <p>
        Ace CPR San Diego<br>
        8333 Clairemont Mesa Blvd #215<br>
        San Diego, CA 92111<br>
        <a href="mailto:acecprsd@gmail.com">Email Us</a>
      </p>
    </div>
    <div class="small-4 medium-6 large-6 column">
      <ul class="inline-list right">
        <li class='right'>
          <a class='right' href="http://www.heart.org/">
            <img id="aha-logo" class="small-6 medium-3 large-4" src="http://i.imgur.com/fTW3T0n.png"/>
          </a>
        </li>
        <li class='right'>
          <a href='/admin'>Admin Login</a>
        </li>
      </ul>
    </div>
  </div>
</div>
