#gmap_canvas {
  min-height: 20em;
  min-width: 15em;
}

#gmap_canvas img {
  max-width: none!important;
  background: none!important;
}

.mid-headline {
  margin-top: 1.5em;
}

.name img {
  margin-bottom: 1px;
  height: 2em;
  width: 7.5em;
}

.top-bar {
  background: #E0E0E0;
}

.top-bar-section li a:not(.button) {
  background: #E0E0E0 !important;
  color: black;
  text-decoration: none;
}

.top-bar-section li a:not(.button):hover {
  background: #E0E0E0 !important;
  color: white;
  text-decoration: none;
}

form input[type="text"] {
  width: 100%;
}

#form {
  border-radius: 1%;
}

#total-price {
  font-weight: 300;
  margin-bottom: 1em;
  margin-left: .2em;
}

.panel {
  border: none !important;
  margin-bottom: 0 !important;
  box-shadow: none !important;
}

.stripe-button-el {
  background: #2196f3;
  background-image: none !important;
  border-radius: 0px !important;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
}

span {
  background: none !important;
  box-shadow: none !important;
}

a {
  text-decoration: none !important;
  color: #2196f3 !important;
}

h2 {
  color: #f44336;
}

form input[type="submit"]:hover:not(.disabled), form input[type="button"]:hover:not(.disabled), form button:hover:not(.disabled) {
  background: #2196f3 !important;
}

thead th {
  background: #ff7043;
}

.mdl-data-table th {
  color: white !important;
}

#headerImg {
  min-width: 100%;
}

form input[type="text"] {
  box-shadow: none !important;
}

.mdl-textfield {
  width: 100% !important;
  padding: 10px 0px !important;
}

.mdl-textfield__label:after {
  background-color: #ff7043 !important;
}

.mdl-textfield__input {
  border: none !important;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-bottom-color: rgba(0, 0, 0, 0.117647) !important;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
  color: #2196f3 !important;
}

label {
  font-size: 16px;
}

#user_appointment_id {
  border: none !important;
}
